@import "./constants.scss";

.button {
	display: inline-block;
	padding: 0.75em 1em;
	border: none;
	border-radius: 0.275em;
	outline: none;
	margin: 1em 1em 1em 0;
	background-color: $color-primary;
	color: white;
	font-family: inherit;
	font-size: 1em;
	font-weight: 500;
	text-decoration: none;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	cursor: pointer;

	&:hover,
	&:focus-visible {
		background-color: white;
		color: $color-primary;
		outline: 2px solid $color-primary;
		outline-offset: -2px;
	}
}

.red-button {
	background-color: $color-red;
	padding: 0.75em 2em;
	margin: 0;

	&:hover,
	&:focus-visible {
		color: $color-red;
		outline-color: $color-red;
	}
}

.white-button {
	background-color: white;
	color: $color-accent;
	opacity: 0.8;
	border-bottom: 1px solid $color-light;

	&:hover,
	&:focus-visible {
		color: $color-accent;
		outline-color: $color-accent;
	}
}
