@import "./constants.scss";

.feature-selector {
	margin: 2em 0 4em 0;
}

.feature:not(.active) {
	display: none;
}

.feature-button {
	position: relative;
	display: block;
	width: 100%;
	padding: 1.2em;
	border: none;
	border-top: 1px solid $color-light;
	color: $color-text;
	font-family: inherit;
	font-size: 1em;
	cursor: pointer;
	transition: 0.3s ease-in-out;

	&.active {
		color: $color-accent;

		&::after {
			content: "";
			position: absolute;
			width: 30%;
			height: 0.25em;
			bottom: 0;
			left: 35%;
			margin-inline: auto;
			background-color: $color-red;
			animation: slide 0.5s ease-in-out;
		}
	}

	&:last-child {
		border-bottom: 1px solid $color-light;
	}

	&:hover,
	&:focus-visible {
		color: $color-red;
	}
}

.feature-image {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	height: 100%;
	margin-bottom: 5em;

	> img {
		display: block;
	}

	&::after {
		content: "";
		position: absolute;
		top: 30%;
		left: -40%;
		width: 120%;
		height: 80%;
		z-index: -1;
		background-color: $color-primary;
		border-radius: 0 10em 10em 0;
	}
}

@media (min-width: 60em) {
	.feature-selector {
		display: flex;
		justify-content: center;
	}

	.feature-button {
		width: 20%;
		border-top: none;
		border-bottom: 1px solid $color-light;

		&.active::after {
			width: 100%;
			left: 0;
		}
	}

	.feature {
		display: flex;
		align-items: center;
		min-height: 22.5em;
		gap: 5em;
		text-align: start;

		> div {
			width: 50%;
		}
	}

	.feature-image {
		margin-bottom: 0;
	}
}

@keyframes slide {
	0% {
		clip-path: polygon(50% 100%, 50% 0, 50% 0, 50% 100%);
	}

	100% {
		clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
	}
}
